*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html{
  font-size: 62.5%;
} */
header .active{
  color: red;
}
.posts{
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;  
  gap:35px;
  margin-bottom: 20px;
  
}
.alert{
  width: 250px;
  /* height: auto; */
}
.post-author{
  background: white;
}
